Repository TEAM-CLUSTAR/CLUSTAR-CLIENT: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lint:
  run: pnpm turbo run lint --filter="...[HEAD]"

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

fix: 린트 에러 자동 수정
  packages/cds-ui/vite.config.ts
Due: lint, prettier

fix: lefthook 수정
  lefthook.yml
Due: none

init: axios 패키지 설치
  packages/api/eslint.config.js
  packages/api/package.json
  packages/api/tsconfig.json
Due: lint, prettier

init: 기본 응답 타입 세팅
  packages/api/src/types.ts
Due: lint, prettier

init: axios instance 생성
  apps/client/package.json
  apps/client/src/shared/api/instance.ts
  apps/client/tsconfig.json
  apps/client/vite.config.ts
  packages/api/src/client.ts
  packages/api/src/index.ts
  pnpm-lock.yaml
Due: lint, prettier

fix: env 디렉토리 지정 삭제
  apps/client/vite.config.ts
Due: lint, prettier

chore: client/package 의존성 수정
  apps/client/package.json
Due: prettier

docs: packages/api 폴더 및 하위 파일 삭제
  packages/api/eslint.config.js
  packages/api/package.json
  packages/api/src/client.ts
  packages/api/src/index.ts
  packages/api/src/types.ts
  packages/api/tsconfig.json
Due: lint, prettier

init: apps/client 내에서 axios 설치 및 세팅
  apps/client/package.json
  apps/client/src/shared/api/instance.ts
  pnpm-lock.yaml
Due: lint, prettier

fix: 충돌 해결하면서 잘못 삭제한 eslint 규칙 추가
  packages/eslint-config/react-internal.js
Due: lint, prettier

fix: refetchOnWindowFocus 옵션 true로 변경
  apps/client/src/shared/api/query-client.ts
Due: lint, prettier

chore: 에러바운더리 제거
  apps/client/package.json
  apps/client/src/apps/App.tsx
  pnpm-lock.yaml
Due: lint, prettier

fix: retry 옵션 동적 설정
  apps/client/src/apps/App.tsx
  apps/client/src/shared/api/query-client.ts
Due: lint, prettier

chore: pnpm-lock.yaml 업데이트
  pnpm-lock.yaml
Due: none

init: lefthook 및 commitlint 설정 추가
  commitlint.config.cjs
  lefthook.yml
  package.json
Due: prettier

fix: commitlint 의존성 버전 설정
  package.json
Due: prettier

chore: pnpm-lock 업데이트
  pnpm-lock.yaml
Due: none

fix: global-route.ts로 분리
  apps/client/src/shared/router/routes/global-route.ts
Due: lint, prettier

fix: lazy 적용 페이지 수정
  apps/client/src/shared/router/lazy.ts
Due: lint, prettier

fix: apps/router 폴더 삭제
  apps/client/src/apps/router/.gitkeep
  apps/client/src/shared/router/index.ts
Due: lint, prettier

fix: router 파일명 변경
  apps/client/src/shared/router/router.tsx
Due: lint, prettier

feat: GlobalLayout component 추가
  apps/client/src/widgets/global-layout/index.ts
  apps/client/src/widgets/global-layout/ui/global-layout.tsx
Due: lint, prettier

fix: 경로 오류 수정
  apps/client/src/apps/App.tsx
Due: lint, prettier

init: 테스트코드관련 패키지 설치
  apps/client/package.json
  packages/cds-ui/package.json
  pnpm-lock.yaml
Due: prettier

fix: createQueryClient 함수 내 환경 변수 선언 위치 수정
  apps/client/src/shared/api/query-client.ts
Due: lint, prettier

fix: package.json에서 @tanstack/react-query 항목 뒤에 쉼표 추가
  apps/client/package.json
Due: prettier

init: Vitest 설정
  apps/client/vite.config.ts
  packages/cds-ui/vite.config.ts
Due: lint, prettier

init: TypeScript 설정
  apps/client/tsconfig.json
  packages/cds-ui/tsconfig.json
Due: prettier

init: 테스트 전역 설정
  apps/client/src/test/setup.ts
  packages/cds-ui/src/test/setup.ts
Due: lint, prettier

feat: button 테스트코드 예시
  packages/cds-ui/src/components/button/button.test.tsx
Due: lint, prettier

fix: createQueryClient 함수에서 환경 변수 처리 방식 수정
  apps/client/src/shared/api/query-client.ts
Due: lint, prettier

Init(client): tanstack query 초기 세팅 (#27)
  apps/client/package.json
  apps/client/src/apps/App.tsx
  apps/client/src/shared/api/query-client.ts
  pnpm-lock.yaml
Due: lint, prettier

fix: package.json 및 tsconfig 설정 업데이트
  packages/cds-ui/package.json
  packages/typescript-config/base.json
Due: prettier

refactor: import 순서 정리
  apps/client/src/shared/router/router.tsx
  packages/cds-ui/src/components/button/button.stories.tsx
Due: lint, prettier

fix: commitlint 및 lefthook 설정 수정
  commitlint.config.cjs
  lefthook.yml
Due: none

init: sentry 관련 라이브러리 설치
  apps/client/package.json
  pnpm-lock.yaml
Due: prettier

feat: 테스트코드 카탈로그 적용
  apps/client/package.json
  packages/cds-ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

fix: pre-commit lint 명령어를 pnpm exec eslint로 수정
  lefthook.yml
Due: none

init: vanilla-extract 라이브러리 설치
  apps/client/package.json
  package.json
  packages/cds-ui/package.json
  pnpm-lock.yaml
Due: prettier

Path conditions:
  lint: any of: {apps,packages}/**/*.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,json,md,prettierrc}
