Repository TEAM-CLUSTAR/CLUSTAR-CLIENT: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lint:
  run: pnpm turbo run lint --filter="...[HEAD]"

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

feat: global css 설정
  packages/cds-ui/src/styles/global.css.ts
Due: lint, prettier

feat: reset css 설정
  packages/cds-ui/src/styles/reset.css.ts
Due: lint, prettier

fix: lefthook 수정
  lefthook.yml
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier

fix: 'as const' 추가하여 color 및 typography 객체의 불변성 보장
  packages/cds-ui/src/token/color.css.ts
  packages/cds-ui/src/token/typography.ts
Due: lint, prettier

feat: SUIT 폰트 스타일을 위한 preload 및 noscript 링크 추가
  apps/client/index.html
Due: none

chore: 예시 코드 첨부
  apps/client/src/pages/memo/ui/memo-page.css.ts
  apps/client/src/pages/memo/ui/memo-page.tsx
  pnpm-lock.yaml
Due: lint, prettier

fix: letterSpacing의 단위를 'rem'에서 'em'으로 수정
  packages/cds-ui/src/token/typography.ts
Due: lint, prettier

chore: recipes 추가
  apps/client/package.json
  package.json
  packages/cds-ui/package.json
  pnpm-lock.yaml
Due: prettier

chore: vanilla-extract 패키지 버전 업데이트 및 카탈로그 정리
  apps/client/package.json
  package.json
  packages/cds-ui/package.json
  pnpm-workspace.yaml
Due: prettier

chore: pnpm-lock 업데이트
  pnpm-lock.yaml
Due: none

feat: vecel 파일 추가
  apps/client/vercel.json
Due: prettier

chore: @sentry/vite-plugin 추가
  apps/client/package.json
  apps/client/vite.config.ts
  pnpm-lock.yaml
Due: lint, prettier

feat: Sentry 인터셉터 및 HTTP 상태 코드 추가
  apps/client/src/shared/api/config/status.ts
  apps/client/src/shared/api/instance.ts
  apps/client/src/shared/api/interceptors/auth.interceptor.ts
  apps/client/src/shared/api/interceptors/sentry.interceptor.ts
  apps/client/src/shared/configs/sentry-init.ts
Due: lint, prettier

init: 디자인 시스템 svg 임의 추가
  packages/cds-ui/src/icons/assets/ic_ai-1.svg
  packages/cds-ui/src/icons/assets/ic_ai-2.svg
  packages/cds-ui/src/icons/assets/ic_ai-3.svg
  packages/cds-ui/src/icons/assets/ic_ai.svg
  packages/cds-ui/src/icons/assets/ic_allmemo-1.svg
  packages/cds-ui/src/icons/assets/ic_allmemo.svg
  packages/cds-ui/src/icons/assets/ic_cardview-1.svg
  packages/cds-ui/src/icons/assets/ic_cardview.svg
  packages/cds-ui/src/icons/assets/ic_close.svg
  packages/cds-ui/src/icons/assets/ic_file.svg
  packages/cds-ui/src/icons/assets/ic_folding.svg
  packages/cds-ui/src/icons/assets/ic_img.svg
  packages/cds-ui/src/icons/assets/ic_label-1.svg
  packages/cds-ui/src/icons/assets/ic_label.svg
  packages/cds-ui/src/icons/assets/ic_memo.svg
  packages/cds-ui/src/icons/assets/ic_newmemo-1.svg
  packages/cds-ui/src/icons/assets/ic_newmemo.svg
  packages/cds-ui/src/icons/assets/ic_output.svg
  packages/cds-ui/src/icons/assets/ic_pdf.svg
  packages/cds-ui/src/icons/assets/ic_profile.svg
  packages/cds-ui/src/icons/assets/ic_search.svg
  packages/cds-ui/src/icons/assets/ic_trash-1.svg
  packages/cds-ui/src/icons/assets/ic_trash.svg
  packages/cds-ui/src/icons/assets/ic_treeview-1.svg
  packages/cds-ui/src/icons/assets/ic_treeview.svg
Due: none

fix: fontFamily Pretendar로 통일
  packages/cds-ui/src/styles/reset.css.ts
Due: lint, prettier

init: 패키지 설치 및 카탈로그 반영
  apps/client/package.json
  packages/cds-ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

init: type safe를 위한 기능 추가
  packages/cds-ui/src/icons/icon-list.ts
  packages/cds-ui/src/icons/scripts/generate-icon-list.ts
Due: lint, prettier

init: 배럴 파일 추가
  packages/cds-ui/src/icons/index.ts
  packages/cds-ui/src/index.ts
Due: lint, prettier

init: 아이콘 컴포넌트
  packages/cds-ui/src/icons/components/icon.tsx
Due: lint, prettier

feat: GlobalErrorBoundary 제거 및 GlobalLayout에서 에러 경계 추가
  apps/client/src/apps/App.tsx
  apps/client/src/apps/providers/global-error-boundary.tsx
  apps/client/src/widgets/global-layout/ui/global-layout.tsx
Due: lint, prettier

fix: .env.example 파일의 API 기본 URL 및 Sentry DSN 수정
  apps/client/.env.example
Due: none

fix: HTTP_STATUS를 HTTP_STATUS_CODE로 이름 변경 및 SENTRY_IGNORE_STATUSES 업데이트
  apps/client/src/shared/api/config/status.ts
  apps/client/src/shared/configs/sentry-init.ts
Due: lint, prettier

fix: Sentry 에러 캡처 로직 개선 및 네트워크 에러 처리 추가
  apps/client/src/shared/api/interceptors/sentry.interceptor.ts
  apps/client/src/shared/configs/sentry-init.ts
Due: lint, prettier

init: GitHub Actions를 사용하여 포크된 레포 동기화 설정
  .github/workflows/sync.yml
  apps/client/vercel.json
Due: prettier

feat: 루트 package.json에 test 스크립트 추가
  package.json
Due: prettier

feat: test와 test:run 태스크 추가
  turbo.json
Due: prettier

feat: 테스트 실행 단계 추가
  .github/workflows/build.yml
Due: none

fix: 테스트코드 타입 체크 중복 코드 제거
  apps/client/vite.config.ts
  packages/cds-ui/vite.config.ts
Due: lint, prettier

fix: --passWithNoTests 플래그 추가
  apps/client/package.json
Due: prettier

fix: 디자인 시스템 변경에 따른 svg 파일 변경
  packages/cds-icon/src/assets/ic_ai.svg
  packages/cds-icon/src/assets/ic_ai_blue.svg
  packages/cds-icon/src/assets/ic_ai_gra.svg
  packages/cds-icon/src/assets/ic_ai_white.svg
  packages/cds-icon/src/assets/ic_allmemo.svg
  packages/cds-icon/src/assets/ic_allmemo_blue.svg
  packages/cds-icon/src/assets/ic_cardview_off.svg
  packages/cds-icon/src/assets/ic_cardview_on.svg
  packages/cds-icon/src/assets/ic_close.svg
  packages/cds-icon/src/assets/ic_file.svg
  packages/cds-icon/src/assets/ic_folding.svg
  packages/cds-icon/src/assets/ic_img.svg
  packages/cds-icon/src/assets/ic_label.svg
  packages/cds-icon/src/assets/ic_label_blue.svg
  packages/cds-icon/src/assets/ic_memo_blue.svg
  packages/cds-icon/src/assets/ic_newmemo.svg
  packages/cds-icon/src/assets/ic_newmemo_blue.svg
  packages/cds-icon/src/assets/ic_output.svg
  packages/cds-icon/src/assets/ic_output_blue.svg
  packages/cds-icon/src/assets/ic_pdf.svg
  packages/cds-icon/src/assets/ic_profile.svg
  packages/cds-icon/src/assets/ic_search.svg
  packages/cds-icon/src/assets/ic_trash.svg
  packages/cds-icon/src/assets/ic_trash_blue.svg
  packages/cds-icon/src/assets/ic_treeview_off.svg
  packages/cds-icon/src/assets/ic_treeview_on.svg
  packages/cds-ui/src/icons/assets/ic_search.svg
Due: none

feat: opacity35 색상 추가
  packages/cds-ui/src/token/color.css.ts
Due: lint, prettier

chore: opacity35 색상 주석 추가
  packages/cds-ui/src/token/color.css.ts
Due: lint, prettier

Init(project): 테스트코드 세팅 (#35)
  .github/workflows/build.yml
  apps/client/package.json
  apps/client/src/test/setup.ts
  apps/client/tsconfig.json
  apps/client/vite.config.ts
  lefthook.yml
  package.json
  packages/cds-ui/package.json
  packages/cds-ui/src/components/button/button.test.tsx
  packages/cds-ui/src/test/setup.ts
  packages/cds-ui/tsconfig.json
  packages/cds-ui/vite.config.ts
  packages/eslint-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: lint, prettier

fix: icon 폴더를 별도 패키지로 기능하도록 수정
  packages/cds-icon/eslint.config.js
  packages/cds-icon/package.json
  packages/cds-icon/src/components/icon/icon.tsx
  packages/cds-icon/src/components/index.ts
  packages/cds-icon/src/icon-list.ts
  packages/cds-icon/src/index.ts
  packages/cds-icon/src/scripts/generate-icon-list.ts
  packages/cds-icon/tsconfig.json
  packages/cds-icon/vite.config.ts
  packages/cds-ui/package.json
  packages/cds-ui/src/icons/index.ts
Due: lint, prettier

fix: vite-plugin-svg-sprite 및 관련 설정, 예제 추가
  apps/client/package.json
  apps/client/src/pages/memo/ui/memo-page.tsx
  apps/client/vite.config.ts
  packages/cds-ui/src/components/button/button.tsx
  packages/cds-ui/vite.config.ts
  pnpm-lock.yaml
Due: lint, prettier

chore: sentry-init 파일 위치 변경
  apps/client/src/shared/libs/sentry-init.ts
Due: lint, prettier

chore: @sentry/vite-plugin를 devDenpendencies로 위치 변경
  apps/client/package.json
  pnpm-lock.yaml
Due: prettier

chore: instance 변수를 export로 변경하여 모듈화 개선
  apps/client/src/shared/api/instance.ts
Due: lint, prettier

fix: 불필요한 git diff를 줄이기 위한 순서 정렬
  packages/cds-icon/src/scripts/generate-icon-list.ts
Due: lint, prettier

Init(project): vanilla-extract 스타일 초기 설정 (#36)
  apps/client/index.html
  apps/client/package.json
  apps/client/src/apps/App.tsx
  apps/client/src/pages/memo/ui/memo-page.css.ts
  apps/client/src/pages/memo/ui/memo-page.tsx
  apps/client/vite.config.ts
  package.json
  packages/cds-ui/.storybook/main.ts
  packages/cds-ui/.storybook/preview.tsx
  packages/cds-ui/package.json
  packages/cds-ui/src/index.ts
  packages/cds-ui/src/providers/theme-provider.tsx
  packages/cds-ui/src/styles/.gitkeep
  packages/cds-ui/src/styles/global.css.ts
  packages/cds-ui/src/styles/index.ts
  packages/cds-ui/src/styles/reset.css.ts
  packages/cds-ui/src/styles/sprinkles.css.ts
  packages/cds-ui/src/styles/theme.css.ts
  packages/cds-ui/src/token/.gitkeep
  packages/cds-ui/src/token/color.css.ts
  packages/cds-ui/src/token/font-style.ts
  packages/cds-ui/src/token/index.ts
  packages/cds-ui/src/token/typography.ts
  packages/cds-ui/src/token/width.ts
  packages/cds-ui/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, prettier

Path conditions:
  lint: any of: {apps,packages}/**/*.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,json,md,prettierrc}
